button{
  /* width: 100px;
  min-height: 50px; */
  margin: 10px;
}
.btn{
  min-height: 30px;
}
.App-bg{
  text-align: center;
  background-color: 	#090000;
  height: 100vh
}
button, input{
  border-radius: 10px;
}
a:link{
  color:#bc1142;
}
a:visited{
  color:	#75a927;
}
input{height: 20px;}
.nickname-form{
  padding: 10px;
  margin-bottom: 10px;
}
.room-css{
  padding: 20px;
  background-color: 	#090000;
  color: #bc1142;
  /* color: 	#6c2525; */
  min-height: 300vh;
}
.room-code{
  color:	#75a927;
}
h1{
  color: #bc1142;

}
.search-songs{
  margin: 30px;
  text-align: center;
}
button{
  background-color: #3f82f4;
  color: #090000;
  font-weight: 900;

}
.enter-btn{
  width: 60%;
}

.makeRoom-btn{
  padding:10px;
  margin-bottom: 20px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
}
/* .song-queue{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin: auto;  
} */
.column{
  padding: 10px;
  margin: auto;
}
.column-logo {
  display: flex;
  flex-direction: row;
  /* border: solid; */
  width: 20vh;
  margin: auto;
  /* temporary bg color */
  background-color: lightblue; 
  border-radius: 20px;
}
.room-logo{
  margin: 0px;
}
.login .column-logo{
padding: 0px;
}
.currently-playing{
  text-align: center;
}
.song-queue-display, .search-list{
  display: flex;
  flex-direction: row;
}
.song-found {
  /* padding: 20px; */
  border-bottom: solid;
  border-width: 2px;
  margin-bottom: 10px;
  /* border: solid; */
}
.add-song-btn{
  height: fit-content;
  position: absolute;
  right: 10px;
  background-color:#bc1142;
  font-weight: 800;
}
.song-queue{
  
  border-bottom:solid}
label{
  color: #bc1142;
  font-weight: 700;
}
.App-bg{
  position: relative;
  /* width: 30%; */
}
.App-bg .login{
  /* text-align: left; */
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 42%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.login {   
  border:solid;
  color: #bc1142;
  width: 40%;
  border-radius: 20px;
  padding: 0px;
}
/* form{
  width: 100%;
} */
.login input, .login label, .login h1{
  width: 100%;
}
.login-btn{
  text-align: center;
}
/* .Enter{
  /* width: 20px;
} */
.album{
  width: 20%;
  border: solid;
  border-radius: 10%;
  color: 	#6c2525;
}
.search-display{
  width: 95%;
  position: absolute;
  z-index:10;
  background-color: #3f82f4;
  color: #090000;
  border-radius: 30px;
  padding: 10px;
  opacity:.8;
}
.search-list{text-align: left;}
.search-text{
  margin: 0px;
}
.controllers{margin: 20px;}
.current-text{
  margin: 5px;
}
.user-profile{
  width: 3%;
  border-radius: 50%;
}
.users-tab{
  text-align: right;
  /* border:solid; */
}
.song-list{
  border: solid;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin: auto;  }