button{
  /* width: 100px;
  min-height: 50px; */
  margin: 10px;
}
.btn{
  min-height: 30px;
}
.App-bg{
  text-align: center;
  background-color: 	#bfa474;
  height: 110vh;
}
.room-css{
  padding: 20px;
  background-color: 	#bfa474;
  color: 	#6c2525;
  min-height: 300vh;
}
.search-songs{
  margin: 30px;
  text-align: center;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
}
.song-queue{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin: auto;  
}
.column{
  padding: 10px;
  margin: auto;
}

.currently-playing{
  text-align: center;
}
.song-queue-display, .search-list{
  display: flex;
  flex-direction: row;
}
.song-found {
  /* padding: 20px; */
  border-bottom: solid;
  border-width: 2px;
  margin-bottom: 10px;
  /* border: solid; */
}
.add-song-btn{
  height: fit-content;
  position: absolute;
  right: 10px;

}
.login{
  text-align: left;
  padding: 20px;
}
/* .Enter{
  /* width: 20px;
} */
.album{
  width: 20%;
  border: solid;
}
.search-display{
  width: 95%;
  position: absolute;
  z-index:10;
  background-color: palegoldenrod;
  border-radius: 30px;
  padding: 10px;
}
.search-list{text-align: left;}
.search-text{
  margin: 0px;
}
.controllers{margin: 20px;}
.current-text{
  margin: 5px;
}
.user-profile{
  width: 3%;
  border-radius: 50%;
}
.users-tab{
  text-align: right;
  /* border:solid; */
}